body{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    text-align: center;
    font-weight: bolder;
}

.time{
    display: flex;
    gap: 25px;
    text-align: center;
    justify-content: center;
}

.des{
    display: flex;
    align-items: center;
    justify-content: center;
}

.time h1{
    color: chartreuse;
}

.des h2{
    color: chartreuse;
}

.wallet{
    display: flex;
    justify-content: space-between;
}

.wallet i{
    color: yellow;
    font-size: 24px;
}

.wallet h4{
    font-weight: lighter;
    align-content: center;
}

.wallet button{
    background-color:chartreuse;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    font-size: larger;
    font-weight: bolder;
    padding: 10px 20px;
}

.card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 100%;
    background-color: #fff;
}
.card img{
    width: 100%;
    border-radius: 10px;
}

